@import "vars";

.app-2 {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    // background: url(../image/main.svg);
    // background: url(../image/shadow.svg);
    background-repeat: no-repeat;
  }
}

.app__right {
  width: 455px;
  height: 330px;
}
.appstore {
  margin: 0%;
  align-items: flex-start;
  border-radius: 8px;
  color: $color-white;
}
