@import "vars";

.app-2 {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__left {
    // background: url(../image/main.svg);
    // background: url(../image/shadow.svg);
    background-repeat: no-repeat;
  }
}

.app__right {
  margin: 0;
  padding-top: 30px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 455px;
  height: 330px;
  // padding-bottom: 30px;

  &__title {
    letter-spacing: 50px;
  }
}
.appstore {
  margin: 0%;
  align-items: flex-start;
  border-radius: 8px;
  color: $color-white;
}
