@import "vars";

.footer {
  margin-bottom: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo__img {
    margin-bottom: 40px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
  }

  &__right {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__socials {
    margin-bottom: 36px;
    display: flex;
    flex-flow: row;
    gap: 20px;
  }

  &__contacts {
    padding-bottom: 21px;
  }

  &__mail {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #333333;
    text-decoration: none;
  }

  &__img {
    padding-right: 12px;
  }

  &__address {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #333333;

    &-img {
      padding-right: 12px;
    }
  }
}

.social__img {
  width: 40px;
  height: 40px;
  background: linear-gradient(
    49.12deg,
    #ffdd55 6.62%,
    #ff543e 50.06%,
    #c837ab 93.5%
  );
  border-radius: 5px;
}

.menu__list {
  margin: 0;
  display: inline;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  &-item {
    padding: 0;
    margin: 0px 30px 20px 0;
    align-items: flex-start;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #333333;
    list-style: none;
  }
}
