@import "vars";

.header {
  padding: 29px 0;

  &__nav-toggle {
    display: none;
  }

  &__inner {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
