$main-font: "Inter", sans-serif;

$color-gradient: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
$color-white: #ffff;
$color-black: #0000;
$color-turquoise: #00b9b6;
$color-dark: #333333;
$color-black2: #0e0e0f;

$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
